$Mulish-300: 'Mulish-Light';
$Mulish-400: 'Mulish-Regular';
$Mulish-500: 'Mulish-Medium';
$Mulish-600: 'Mulish-SemiBold';
$Mulish-700: 'Mulish-Bold';
$Mulish-800: 'Mulish-ExtraBold';
:export {
  b: red;
}
// color
$black: #000000;
$dark2: #152033;
$dark: #001a83;
$default: #002de3;
$darkMode: #375fff;
$light: #879fff;
$background: #d2d5f9;
$active: #0f1828;
$body: #1b2b48;
$weak: #a4a4a4;
$disabled: #adb5bd;
$line: #ededed;
$offWhite: #f7f7fc;
$white: #ffffff;
