@import 'app';
.container {
  width: 60%;
  aspect-ratio: 1;
  border-radius: 500px;
  // overflow: hidden;
  justify-content: center;
  align-items: center;
}
.mainCircle {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  background-color: #f0eff8;
  border-radius: 500px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.wave_1 {
  width: 100%;
  aspect-ratio: 1;
  position: absolute;
  bottom: auto;
  top: auto;
  border-radius: 500px;
  background-color: #e2e0d4;
  z-index: 1;
}
.wave_2 {
  @extend .wave_1;
  z-index: 2;
}
.wave_1 {
  @extend .wave_1;
  z-index: 3;
}
