@import 'app';
.container {
  background-color: $white;
  flex: 1;
  align-items: center;
}
.avatar {
  width: 150px;
  height: 150px;
  margin-top: -150px;
  margin-bottom: 50px;
}
.formItem {
  width: 80%;
  margin-top: 10px;
}
.row {
  flex-direction: row;
  margin-top: 10px;
}
.textInput {
  width: 100%;
  background-color: $offWhite;
  border-radius: 4px;
  padding: 8px;
  font-family: $Mulish-600;
  color: $body;
  font-size: 15px;
}
.formItemDob {
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.calendar {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  justify-content: center;
}
.rowCheckBox {
  // flex: 3;
  flex-direction: row;
  align-items: center;
  // margin-top: 10px;
}
.switch {
  margin-left: 2px;
  margin-top: -1px;
}
