@import 'app';
.container {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  align-items: center;
}

.text {
  width: 100px;
}
