@import 'app';
.container {
  background-color: $white;
  flex: 3;
  align-items: center;
}

.accountDataContainer {
  // height: 66px;
  width: 375px;
  padding: 16px;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  align-items: center;
}

.menuContainer {
  width: 375px;
  height: 350px;
  padding: 16px;
}

.line {
  margin-bottom: 20px;
}
