@import 'app';
.container {
  max-width: 300;
  min-width: 100;
  height: auto;
  padding: 10px;
  margin: 0 0 8px 0;
}
.sender {
  background-color: $default;
  border-radius: 16px 16px 0px 16px;
  align-self: flex-end;
}

.receiver {
  background-color: $white;
  border-radius: 16px 16px 16px 0px;
  align-self: flex-start;
}
.whiteText {
  color: $white;
}
.blackText {
  color: $active;
}
.whiteTextSmall {
  margin-top: 4px;
  @extend .whiteText;
  font-size: 10px;
  text-align: right;
}
.blackTextSmall {
  margin-top: 4px;
  @extend .blackText;
  font-size: 10px;
  text-align: left;
}
.like {
  width: 35px;
  height: 35px;
}
.likeContainer {
  bottom: 5px;
  position: absolute;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.likeContainer1 {
  @extend .likeContainer;
  right: 5px;
}
.likeContainer2 {
  @extend .likeContainer;
  left: 5px;
}
