@import 'app';
.container {
  background-color: $white;
  flex: 1;
  align-items: center;
}
.title {
  font-size: 24px;
  text-align: center;
  color: $active;
  font-family: $Mulish-700;
  margin-top: 10%;
  line-height: 30px;
}
.title2 {
  @extend .title;
  font-size: 20px;
  margin-top: 1%;
}
.illustration {
  width: 300px;
  height: 300px;
}
.icon {
  margin-top: 20%;
  &_Dimension {
    width: 70px;
    height: 70px;
  }
}
.text {
  width: 100%;
}
